/HangFire/obj/Debug/net8.0/apphost.exe
/HangFire/bin/Debug/net8.0/appsettings.Development.json
/HangFire/bin/Debug/net8.0/appsettings.json
/HangFire/obj/Debug/net8.0/HangFire.assets.cache
/HangFire/obj/Debug/net8.0/HangFire.csproj.AssemblyReference.cache
/HangFire/obj/Debug/net8.0/HangFire.csproj.CoreCompileInputs.cache
/HangFire/obj/Debug/net8.0/HangFire.csproj.FileListAbsolute.txt
/HangFire/obj/HangFire.csproj.nuget.dgspec.json
/HangFire/obj/HangFire.csproj.nuget.g.props
/HangFire/obj/HangFire.csproj.nuget.g.targets
/HangFire/obj/Debug/net8.0/HangFire.csproj.Up2Date
/HangFire/bin/Debug/net8.0/HangFire.deps.json
/HangFire/bin/Debug/net8.0/HangFire.dll
/HangFire/obj/Debug/net8.0/ref/HangFire.dll
/HangFire/obj/Debug/net8.0/refint/HangFire.dll
/HangFire/obj/Debug/net8.0/HangFire.dll
/HangFire/bin/Debug/net8.0/HangFire.exe
/HangFire/obj/Debug/net8.0/HangFire.genruntimeconfig.cache
/HangFire/obj/Debug/net8.0/HangFire.MvcApplicationPartsAssemblyInfo.cache
/HangFire/obj/Debug/net8.0/HangFire.MvcApplicationPartsAssemblyInfo.cs
/HangFire/bin/Debug/net8.0/HangFire.pdb
/HangFire/obj/Debug/net8.0/HangFire.pdb
/HangFire/bin/Debug/net8.0/HangFire.runtimeconfig.json
/HangFire/obj/Debug/net8.0/HangFire.sourcelink.json
/HangFire/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/HangFire/bin/Debug/net8.0/Microsoft.OpenApi.dll
/HangFire/obj/Debug/net8.0/staticwebassets/msbuild.build.HangFire.props
/HangFire/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.HangFire.props
/HangFire/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.HangFire.props
/HangFire/obj/project.assets.json
/HangFire/obj/project.nuget.cache
/HangFire/obj/rider.project.model.nuget.info
/HangFire/obj/rider.project.restore.info
/HangFire/obj/Debug/net8.0/staticwebassets.build.json
/HangFire/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/HangFire/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/HangFire/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
